.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

.medium-list{
    margin: auto;
    width:700px;
    padding:10px;
}
.list-viwer-wrapper{
    border: 1px solid rgba(0 , 0 , 0 , .03);
    box-shadow: 0 2px 2px rgba(0 , 0 , 0 ,.24), 0 0 2px  rgba(0 , 0 , 0 ,.12)
}
.list-header-title{
  color: rgba(0 , 0 , 0 , .54);
  background: rgba(0 , 0 , 0 , .03);
  padding: 8px 20px;
  font-weight: bold;
}
.form-container{
    display: flex;
    flex-direction: column;
}
.divider{
    margin-top: 10px !important;
}