table, td {  
  border: 1px solid #ddd;
  text-align: center;
}

th{
  border: 3px solid  #ddd;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}


.button 
{ 
  size:40;
}

.header {
  padding: 10px 16px;
}
