
<div class="medium-list">
    <div class="list-viwer-wrapper">
        <div class="list-header-title">Register</div>
        <form [formGroup]="registerform" (ngSubmit)="registerform.valid && onRegisterSubmit()" novalidate>
        <div class="form-container">
        <mat-form-field>
            <input
               matInput
               formControlName="name"
               [(ngModel)]="user.name"
               placeholder="Enter your name"
            />
        </mat-form-field>
        <mat-form-field>
            <input
               matInput
               formControlName="email"
               [(ngModel)]="user.email"
               placeholder="Enter your email"
            />
        </mat-form-field>
        <mat-form-field>
            <input
               matInput
               formControlName="password"
               [(ngModel)]="user.password"
               placeholder="Enter your password"
               [type]="hide? 'password':'text'"
            />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        </mat-form-field>
        <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!registerform.valid">Register</button>
        <button mat-button routerLink="/login" class="divider">Login</button>
       </div>   
      </form>
    </div>
</div>